.sidebar {
  grid-area: sidebar;
  background-color: #2e3030;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border-right: solid 1px #afafaf;
}

.link {
  padding: 5px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.no-active {
  background-color: #6bb8a5;
}

.active {
  background-color: #57988b;
}

.link:hover {
  background-color: #4c8375;
}
