body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  background-color: #424747;
  overflow: hidden;
}

#root {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 200px auto;
}
